<html>
    <body>
        <h1>CROWDFUNDING!</h1>
        <form action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
        
        <!---
        This loops through the table and puts the 'id' and 'result' in a list.
        @res is the query result obtained from the get '/' route.
        -->


    <style>
    table {
        width:95%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
       background-color:#fff;
    }
    table#t01 th {
        background-color: black;
        color: white;
        text-align:center;
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        text-align: center;
    }

    p {text-align:center;}
    td {text-align:center;}
    </style>

        <table id = "t01" align ="center" style="width:100%">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Target</th>
                <th>Start Date</th>
                <th>End Date</th>
           <!--      <th>Details</th> -->
            </tr>
            
            <% @res.each do |row| %>
            <tr>
                <td><%= row['id'] %></td>
                <td> <%= row['title']%></td>
                <td>$<%= row['goal']%></td>
                <td><%= row['start_date']%></td>
                <td><%= row['end_date'] %></td>
                
                <% end %>
            </tr>
        </table>
  <br>
  <br>
  <form method="GET" action="/viewProjectDetails">
                    Enter Project Id to view details:
                    <input type="text" name="projectId">
                    <button type="submit" >View</button>
                    </form>

    </body>
</html>

