<html>
    <%= erb :_bootstrap %>
    <body>
        <div class="container">
            <div class="mt-4 row text-center">
                <div class="col">
                    <h2><%= @details[0]['title'] %></h2>
                </div>
            </div>

            <div class="row">
                <table class="table" id = "t01" align ="center" style="width:100%">
                    <% @details.each do |row| %>
                        <% @currentAmt.each do |row2| %>
                            <% @user.each do |row3| %>
                                <tr>
                                    <th>Description</th>
                                    <td><%= row['description'] %></td>

                                </tr>
                                <tr>
                                    <th>Current Amount</th>
                                    <td>$<%= row2['sum'] %></td>
                                </tr>
                                <tr>
                                    <th>Target</th>
                                    <td>$<%= row['goal'] %></td>
                                </tr>
                                <tr>
                                    <th>Start Date</th>
                                    <td><%= row['start_date'] %></td>
                                </tr>
                                <tr>
                                    <th>End Date</th>
                                    <td><%= row['end_date'] %></td>
                                </tr>
                                <tr>
                                    <th>Created by</th>
                                    <td><%= row3['first_name'] %> <%= row3['last_name'] %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    <% end %>
                </table>
            </div>
            <br>
            <br>

            <div class="row">
                <form class="form-inline" method="POST" action="/contributeFunds">
                    <label>Enter Amount To Contribute:&nbsp</label>
                    <input class="form-control"type="number" name="amount" placeholder="$">
                    <br>
                    <br>
                    <% @details.each do |row| %>
                        <input style="display:none" type="number" name="project_Id" value=<%= row['project_id'] %>>
                    <% end %>
                    <input style="display:none" type="text" name="email" value=<%=session[:email] %>>
                    <input class="form-control btn btn-success" type="submit">
                </form>
            </div>
            <div class="text-primary"><%= flash[:contributeFunds] %></div>
        </div>

    </body>
</html>

