<html>
    <%= erb :_bootstrap %>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h2 class="text-center">Update Project</h2>
                        </div>
                        <div class="card-body justify-content-center d-flex">
                            <form method="POST" action="/updateProjectDetails">
                                <% @details.each do |row| %>
                                    <% @currentAmt.each do |row2| %>
                                        <div class="form-group">
                                            <label> 
                                                Project Title:
                                            </label>
                                            <input type="text" name="title" value=<%= row['title'] %>>
                                        </div>
                                        <div class="form-group">
                                            <label> 
                                                Project Description:
                                            </label>
                                            <input type="text" name="description" value=<%= row['description'] %>>
                                        </div>
                                        <div class="form-group">
                                            <label> 
                                                Start Date:
                                            </label>
                                            <input type="text" name="start_date" value=<%= row['start_date'] %>>
                                        </div>
                                        <div class="form-group">
                                            <label> 
                                                End Date:
                                            </label>
                                            <input type="text" name="end_date" value=<%= row['end_date'] %>>
                                        </div>
                                        <div class="form-group">
                                            <label> 
                                                Goal:
                                            </label>
                                            <input type="number" min="0" step="0.01" name="goal" value=<%= row['goal'] %>>
                                        </div>
                                        <div>
                                            <input style="display:none" type="text" name="email" value=<%=session[:email] %>>
                                        </div>
                                        <div class="form-group">
                                            <label> 
                                                Status:
                                            </label>
                                            <input type="text" name="status" value=<%= row['status'] %>>
                                        </div>
                                        <input class="btn btn-success" type="submit">

                                    <% end %>
                                <% end %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
