<html>
    <%= erb :_bootstrap %>
    <body>
        <div class="container mt-4">
            <div class="row">
                <div class="col-4">
                    <form>
                        <input class="btn btn-primary" type="button" onclick="window.location.href='/createProject'" value="Create New Project" />
                        <input class="btn btn-primary" type="button" onclick="window.location.href='/viewUserProjects'" value="View My Projects" />
                    </form>
                </div>

                <div class="ml-auto col-4">
                    <form class="form-inline" action="/" method='GET'>
                        <input class="mr-2"type='text' name='search' placeholder="Search for projects" required>
                        <input class="btn btn-success" type='submit' value='Search'>
                    </form>
                </div>
                <div class="col-2">
                    <form class="form-inline" method='GET' action='/'>
                        <input class="btn btn-warning" type='submit' value='Clear search'>
                    </form>
                </div>
            </div>
            <% if params[:search] %>
                <div class="row mr-4 justify-content-end">
                    <p>Searching for: <b><%= params[:search] %></b></p>
                </div>
            <% end %>

            <table class="table table-striped" id = "t01" align ="center" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Current Funding</th>
                        <th>Target</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <% @details.each do |row| %>
                    <tr>
                        <td><%= row['project_id'] %></td>
                        <td> <%= row['title']%></td>
                        <% if row['sum'] == "" %>
                            <td>$0</td>
                        <% else %>
                            <td>$<%= row['sum']%></td>
                        <% end %>
                        <td>$<%= row['goal']%></td>
                        <td><%= row['start_date']%></td>
                        <td><%= row['end_date'] %></td>

                        <form method="GET" action="/updateProjectDetails">
                            <div><input style="display:none" type="text" name="projectId" value=<%= row['project_id'] %>></div>
                            <td><button class="btn btn-primary" type="submit">Update</button></td>
                        </form>

                        <form method="POST" action="/deleteProject">
                            <div><input style="display:none" type="text" name="projectId" value=<%= row['project_id'] %>></div>
                            <td><button class="btn btn-primary" type="submit" >Delete</button></td>
                        </form>
                    </tr>
                <% end %>
            </table>
    </body>
</html>
